<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Página Inicial</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nesciunt excepturi, consequatur doloremque recusandae eos eaque voluptatibus quasi consectetur quidem accusamus non sequi placeat voluptatum nobis, ratione quibusdam optio sapiente.
    Dolorum expedita similique obcaecati, molestiae, blanditiis, officiis unde natus voluptatem at error repudiandae consequatur provident veniam consectetur dolor fuga necessitatibus ab dolorem libero eaque inventore. Perspiciatis in voluptas repudiandae omnis.
    Dicta veritatis, eveniet dolorem accusantium porro aspernatur. Unde ratione, reprehenderit placeat repudiandae optio totam nihil facere molestiae, provident natus, recusandae dolorem excepturi vero? Deleniti, recusandae voluptatum error earum ut corrupti?</p>
</body>
</html>